
$inputFontSize:30px;
$selectFontSize:28px;
@mixin display-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin justify-content-around {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -moz-box-pack: space-around;
    -webkit--moz-box-pack: space-around;
    box-pack: space-around;
}

@mixin justify-content-center {
    -webkit-justify-content: center;
    justify-content: center;
    -moz-box-pack: center;
    -webkit--moz-box-pack: center;
    box-pack: center;
}

@mixin justify-content-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -moz-box-pack: space-between;
    -webkit--moz-box-pack: space-between;
    box-pack: space-between;
}

@mixin align-item {
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-item-align: center;
    align-items: center;
}

@mixin flex {
    flex: auto;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

@mixin flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -moz-box-flex: wrap;
    flex-wrap: wrap;
}

@mixin border-radius($value:50%) {
    -moz-border-radius: $value;
    /* Firefox */
    -webkit-border-radius: $value;
    /* Safari 和 Chrome */
    border-radius: $value;
    /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}

@mixin border-sizing {
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    box-sizing: border-box;
}

@mixin transform($value1:-50%, $value2:-50%) {
    -ms-transform: translate($value1, $value2);
    /* IE 9 */
    -moz-transform: translate($value1, $value2);
    /* Firefox */
    -webkit-transform: translate($value1, $value2);
    /* Safari 和 Chrome */
    -o-transform: translate($value1, $value2);
    transform: translate($value1, $value2);
}

//上传文件
@mixin fileWrap($width, $height, $direction) {
    float: $direction;
    width: $width;
    height: $height;
    position: relative;
}

